---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Page Not Found">
  <main>
    <h1>Oy <span class="text-gradient">vey!</span></h1>
    <p>It seems you got lost. Check the URL or go back to the home page.</p>
  </main>
</Layout>
