---
import Card from "../components/Card.astro"
import Grid from "../components/Grid.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <h1>Welcome to <span class="text-gradient">my website.</span></h1>
  <p>I'm Noam, currently an undergraduate at Tel Aviv University.</p>
  <Grid>
    <Card
      href="/academy"
      title="Academy"
      icon="fa-solid fa-graduation-cap"
      body="A few useful things I create for studying."
    />
    <Card
      href="https://github.com/noamzaks"
      title="GitHub"
      icon="fa-brands fa-github"
      body="What I'm really doing, instead of studying."
    />
  </Grid>
</Layout>
