---
import Card from "../../components/Card.astro"
import Grid from "../../components/Grid.astro"
import Layout from "../../layouts/Layout.astro"

const posts = await Astro.glob("./*.md")
---

<Layout title="Academy">
  <h1>Academy</h1>
  <p>Here are a few things I found useful for studying.</p>
  <Grid>
    {
      posts.map((post) => (
        <Card
          href={post.url!}
          title={post.frontmatter.title}
          icon={post.frontmatter.icon}
          body={post.frontmatter.description}
        />
      ))
    }
  </Grid>
</Layout>
